<section data-ng-controller="HomeController">
	<div class="text-left">
		<div class="row">
			<div class="col-md-3">
				<img alt="HxBirthdays" class="img-responsive text-left" src="modules/core/img/brand/logo.jpg" />
			</div>
			<div class="col-md-3 text-center">
				<h2>HxBirthdays</h2>	
			</div>			
		</div>
		<br>
	</div>
	<section class="content" data-ng-include="'/modules/birthdayFunds/views/list-birthdayFund.client.view.html'">
		<!-- Home con la lista de cumpleaños "activos" -->
	</section>
</section>