<section data-ng-controller="CumpleaniosController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Juntar para el cumplea&ntilde;os de </h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="chargeInBirthdayCollectedList()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <div class="controls">
                        {{cumpleanio.firstname}} {{cumpleanio.lastname}}
                    </div>
                    <label class="control-label" for="name">Foto</label>
                    <div class="controls">
                        <img src="http://fotos.hexacta.com:8181/photo.php?username={{cumpleanio.name}}"></img>
                    </div>
                    <label class="control-label" for="name">Cumple A&ntilde;os el d&iacute;a</label>
                    <div class="controls">
                        {{cumpleanio.birthday | date : 'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Juntar para su cumplea&ntilde;os" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>