<section data-ng-controller="BirthdayFundController" data-ng-init="beginFund()">
   <div class="page-header">
		<h2>Comenzar a Juntar</h2>
	</div>
	<div class="col-md-8">
		<form name="birthdayFundForm" class="form-horizontal" data-ng-submit="upgradeBirthday()" novalidate>
			<fieldset>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">          
							Juntar para <strong data-ng-bind="birthdayFund.firstname + ' ' + birthdayFund.lastname"></strong>
							Que cumple el d&iacute;a <strong data-ng-bind="birthdayFund.birthday | date: 'dd/MM' "></strong>
							<label class="control-label" for="limit_date_fund">Fecha l&iacute;mite para juntar</label>
							<input type="date" ngRequired="" name="limit_date_fund" class="form-control" ng-model="birthdayFund.collectingDateLimit" required />
							Juntan:
						</div>
		                <div class="col-md-2" align="center">  	
							<div><img src="http://fotos.hexacta.com:8181/photo.php?username={{birthdayFund.username}}" class="img-circle text-left"></img></div>
						</div>					
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Quienes pusieron?</label>
					<div class="controls">
						 <div>
							 <label>Usuario 1</label>
							 <select ng-model="firstSelected" ng-options="user.displayName for user in usersEnabledToCollect" ng-change='addFirstSelected(firstSelected.displayName)'></select>
						</div>
					 	 <div>
						 	 <label>Agregaste a:</label>
							 <div ng-bind="primerUsuarioAgregado"></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Comenzar a juntar!" class="btn btn-default" ng-disabled="birthdayFundForm.limit_date_fund.$dirty  && birthdayFundForm.limit_date_fund.$invalid" />
					<div id="apendear"></div>
				</div>
				<div class="error" ng-show="birthdayFundForm.limit_date_fund.$error.required">La fecha l&iacute;mite es requerida!</div>
			</fieldset>
		</form>
	</div>
</section>
