<section data-ng-controller="BirthdayFundController" data-ng-init="beginFund()">
   <div class="page-header">
		<h1>Comenzar a Juntar</h1>
	</div>
	<div class="col-md-12">
		<form name="birthdayFundForm" class="form-horizontal" data-ng-submit="upgradeBirthday()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label">Se Junta para</label>
					<div class="controls">
						<div data-ng-bind="birthdayFund.firstname + ' ' + birthdayFund.lastname"></div>
						<div><img src="http://fotos.hexacta.com:8181/photo.php?username={{birthdayFund.username}}" class="img-circle text-left"></img></div>
					</div>
					<label class="control-label">Que cumple el día</label>
					<div data-ng-bind="birthdayFund.birthday | date: 'dd/MM' "></div>
				</div>
				<div class="form-group">
					<label class="control-label" for="limit_date_fund">Fecha limite para juntar</label>
					<div class="controls">
						 <input type="date" ngRequired="" name="limit_date_fund" class="form-control" ng-model="birthdayFund.collectingDateLimit" required />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Quienes pusieron?</label>
					<div class="controls">
						 <div>
							 <label>Usuario 1</label>
							 <select ng-model="firstSelected" ng-options="user.displayName for user in usersEnabledToCollect" ng-change='addFirstSelected(firstSelected.displayName)'></select>
						</div>
					 	 <div>
						 	 <label>Agregaste a:</label>
							 <div ng-bind="primerUsuarioAgregado"></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Comenzar a juntar!" class="btn btn-default" ng-disabled="birthdayFundForm.limit_date_fund.$dirty  && birthdayFundForm.limit_date_fund.$invalid" />
					<div id="apendear"></div>
				</div>
				<div class="error" ng-show="birthdayFundForm.limit_date_fund.$error.required">La fecha límite es requerida!</div>
			</fieldset>
		</form>
	</div>
</section>