<section data-ng-controller="BirthdayFundController" data-ng-init="editFund()">
   <div class="page-header">
		<h2>Editar colecta</h2>
	</div>
	<div class="col-md-8">
		<form name="birthdayFundForm" class="form-horizontal" data-ng-submit="addGivers()" novalidate>
			<fieldset>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">          
							Juntar para <strong data-ng-bind="birthdayFund.firstname + ' ' + birthdayFund.lastname"></strong>
							Que cumple el d&iacute;a <strong data-ng-bind="birthdayFund.birthday | date: 'dd/MM' "></strong>
							<label class="control-label" for="limit_date_fund">Fecha l&iacute;mite para juntar</label>
							<input type="date" ngRequired="" name="limit_date_fund" class="form-control" ng-model="birthdayFund.collectingDateLimit" required />
							Juntan:
						</div>
		                <div class="col-md-2" align="center">  	
							<div><img src="http://fotos.hexacta.com:8181/photo.php?username={{birthdayFund.username}}" class="img-circle text-left"></img></div>
						</div>					
					</div>

				</div>
				<div class="form-group">
					<label class="control-label">Agregar Colaborador</label>
					<div class="controls">
						 <div class="row">       
			        		<div class="col-md-8">              
								<input type="text" class="form-control" data-ng-model="giver" list="friend" placeholder="Amigo">
								<input type="number" class="form-control" data-ng-model="giverAmount" placeholder="Monto">
							</div>
						</div>	

						<div class="col-md-4">
							<input type="submit" value="Agregar" class="btn btn-default"/>
						</div> 	

						<datalist id="friend">
			    			<option data-ng-repeat="user in users" value="{{user.displayName}}">
			  			</datalist>	
					</div>
				</div>

				<div class="error" ng-show="birthdayFundForm.limit_date_fund.$error.required">La fecha l&iacute;mite es requerida!</div>
			</fieldset>
		</form>
	</div>

	<div class="content col-md-3" data-ng-show=" birthdayFund.usersGivers.length > 0">
		<div id="friendResults" class="table-striped">
			<div class="content text-right">
				<h3>Quienes Colaboran</h3>
			</div>
			<div ng-repeat="giver in birthdayFund.usersGivers" class="list-group-item">
				<div class="row">
		            <div class="col-md-6">              
		            	<img alt="User" class="img-circle text-left img-responsive" width="80" height="65" ng-src="http://fotos.hexacta.com:8181/photo.php?username={{giver.username}}" />
		            </div>
		            <div class="col-md-6">
		            	<h4 class="list-group-item-heading" data-ng-bind="giver.displayName"></h4><br> 
		            	<label class="control-label">Aporta: $ {{giver.amount}}</label>
		            	<input name="Eliminar" type="image" ng-src="modules/core/img/brand/eliminar.jpg" width="25" height="25" ng-click="removeGiver(giver.username)"></p>
		            </div>
		        	
		        </div>
		    </div>
		</div> 	
	</div>	

</section>
