<section data-ng-controller="BirthdayFundController" data-ng-init="find()">
	<div class="content col-md-9">
	 	<br>
	    <h2>Se está juntando para...</h2>
	    <br>
	    <div class="list-group">
	        <div data-ng-repeat="birthdayFund in birthdayFunds | filterState:'Active'" class="list-group-item">
	            <div class="row">       
	                <div class="col-md-2">
	                    <img alt="BirthdayFund" class="img-circle text-left" ng-src="{{birthdayFund.photo}}" />
	                </div>
	                <div class="col-md-6">              
	                    <h4 class="list-group-item-heading" data-ng-bind="birthdayFund.firstname + ' ' +birthdayFund.lastname"></h4><br>
	                    Cumple años el <strong data-ng-bind="birthdayFund.birthday | date:'dd/MM/yyyy'"></strong>                  
	                    <p>Estan juntando: <strong ng-repeat="collector in birthdayFund.usersCollecting"> {{collector.name}} - </strong>
	                    <input name="Agregame" type="image" ng-src="modules/core/img/brand/agregar.jpg" ng-click="update(birthdayFund)"></p>
	                </div>
	                <div class="col-md-3" align="center">              
	                    Tenes tiempo hasta el <strong data-ng-bind="birthdayFund.collectingDateLimit | date:'dd/MM/yyyy'"></strong>                  
	                </div>
	            </div>  
	        </div>
	    </div>  
	    <div class="alert alert-warning text-center" data-ng-show="error">
	        <p data-ng-bind="error"/>
	    </div>
	</div>	
	<div class="content col-md-3">
	    <h4 align="right">Proximos Cumpleaños</h4>
	    <br>
	    <div class="list-group">
	        <div data-ng-repeat="birthdayFund in birthdayFunds | filterState:'Inactive'" class="list-group-item">
	            <div class="row">       
	                <div class="col-md-6">              
	                    <h4 class="list-group-item-heading" data-ng-bind="birthdayFund.firstname + ' ' +birthdayFund.lastname"></h4><br>
	                    <strong data-ng-bind="birthdayFund.birthday | date:'dd/MM/yyyy'"></strong>                  
	                </div>
	                <div class="col-md-2">
	                    <img alt="BirthdayFund" class="img-circle text-left" ng-src="{{birthdayFund.photo}}" />
	                    <a data-ng-href="/#!/birthdayFunds/{{birthdayFund.id}}" >
	                </div>
	            </div>  
	        </div>
	    </div> 
	</div>	
</section>