<section data-ng-controller="BirthdayFundController" data-ng-init="find()">
    <h2>Se está juntando para...</h2>
    <br>
    <div class="list-group">
        <div data-ng-repeat="birthdayFund in birthdayFunds" data-ng-href="#!/birthdayFunds/{{birthdayFund.id}}" class="list-group-item">
            <div class="row">       
                <div class="col-md-1">
                    <img alt="BirthdayFund" class="img-circle text-left" ng-src="{{birthdayFund.photo}}" />
                </div>
                <div class="col-md-4">              
                    <h4 class="list-group-item-heading" data-ng-bind="birthdayFund.firstname + ' ' +birthdayFund.lastname"></h4><br>
                    Cumple años el <strong data-ng-bind="birthdayFund.birthday | date:'dd/MM/yyyy'"></strong>                  
                    <p>Estan juntando: <strong ng-repeat="collector in birthdayFund.usersCollecting"> {{collector.name}} - </strong>
                    <input name="Agregame" type="image" ng-src="modules/core/img/brand/agregar.jpg" ng-click="update(birthdayFund)"></p>
                </div>
            </div>  
        </div>
    </div>  
    <div class="alert alert-warning text-center" data-ng-show="error">
        <p data-ng-bind="error"/>
    </div>
</section>      