<section data-ng-controller="UsersController" data-ng-init="find()">
	<div class="page-header text-left">
		<h2>Seleccionar amigos</h2>
	</div>
	<input type="text" class="form-control" ng-model="filtroAmigo" placeholder="Amigos"/>
	<br>
 	<div id="usersResults" class="table-striped">
	    <div ng-repeat="user in users | filter: filtroAmigo" class="list-group-item">
	    	<div class="row">       
	        	<div class="col-md-2">              
	            	<img alt="User" class="img-circle text-left img-responsive" width="80" height="65" ng-src="http://fotos.hexacta.com:8181/photo.php?username={{user.username}}" />
	            </div>
	            <div class="col-md-4">
	            	<h4 class="list-group-item-heading" data-ng-bind="user.firstName + ' ' +user.lastName"></h4>
	            </div>
	            <div class="col-md-4">
	            	<input type="checkbox" ng-model="string" ng-click="addFriend(user.username)">
	            </div>		
	        </div>  
	    </div>
	</div> 	
</section>